@import url("game.css");

body {
  background-color: #F9F7F7;
}

.title {
  background-color: #57c8ff;
  color: white;
  margin-bottom: 20px;
}

.container {
  margin: auto;
  padding-right: 30px;
  padding-left: 30px;
  max-height: 100%;
}

.row {
  margin: auto;
  width: 100%;
  min-height: 100px;
  position: relative;
  bottom: 0px;
}